<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:name=".SpotifyPlaygroundApplication"
        android:theme="@style/Theme.Macchiato"
        tools:targetApi="31">
        <activity
            android:name=".SpotifyImplicitLoginActivityImpl"
            android:theme="@style/Theme.Macchiato"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="SpotifyPlaygroundApplication" android:host="spotify-auth" tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DefaultActivity"
            android:exported="false"
            android:theme="@style/Theme.Macchiato" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Macchiato">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>